@charset "UTF-8";
#head {
    
}

body {
    font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.index-body {
    background-image: url("../img/beach_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.col-md-12 {
    margin: 0;
    padding: 0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-background {
    background-image: url("../img/beach_background.jpg");
    background-size: 100% 700px;
}

.navigation li a:hover {
    text-decoration: underline;
    text-decoration-color: greenyellow;
    -webkit-text-decoration-color: greenyellow;
    transition: all .25s ease-in-out;
}

.navigation li{
    height: 50px;
   display: inline-block;
}

.navigation p {
    font-family: "Georgia", Times, serif;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0;
    margin-top: 2;
    margin-left: 85%;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.navBar {
    padding: 0;
    margin: 0;
}

.right li {
    float: right;
}

.center li {
    float: left;
}

.jumbotron {
    background: none;
}

.main-statement{
    margin-top: 12%;
    background: none;
    color: white;
    padding-bottom: 0;
}

.jumbotron h1 small {
    color: #737c84;
}

.btn-event {
    text-align: center;
    width: 140px;
    background-color: orange;
    color: white;
}

.btn-event:hover {
    background-color: #ff751a;
    color: white;
}

.centerBlock {
    display: block;
    margin: 0 auto;
    margin-bottom: 180px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.about, .contact, .register {
    background-color: #f2f2f2;
    height: 100%;
}

.jumbotron h3{
    color: black;
}

.headshot {
    height: 100px;
    width: 100px;
}

.footer {
    width: 100%;
    height:40px;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 0px;
}

.index-body .footer {
    margin-top: 300px;
}


.bio {
    padding-left: 10px;
    padding-right: 10px;
}

.about .footer {
    margin-top: 100px;
}

.register .footer {
    margin-top: 100px;
}

.contact-map img {
    display: inline-block;
    height: 300px;
    width: 520px;
}

.contact-information {
    display: inline-block;
    margin-left: 120px;
}

.contact-map {
}

.contact-head {
    margin-top: 80px;
    margin-bottom: 60px;
}

/*
    Individual Event Page
*/

.event {
    background-color: #f2f2f2;
    height: 100%;
}

.event-head h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.event-donations h3{
    text-align: center;
    margin-bottom: 30px;
}

.event-sponsors {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: red;
}

.event-information {
    text-align: center;
    font-weight: bold;
}

.event-information h3 {
    text-decoration: underline;
}

.event-description {
    text-align: center;
}

.event-description h3 {
    text-decoration: underline;
}

.event-rsvp {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.reg {
    border-left: 1px solid;
}

/*
    Event List Page
*/

.event-list-head h1 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.event-list-info {
    border: 2px solid black;
    border-radius: 5px;
}

.event-list-info-name {
    text-align: center;
    font-weight: bold;
}

.event-list-info-heading {
    font-weight: bold;
}